/* change the color of the background */
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:whitesmoke;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* chnage color of nav bar */
nav{
    height: 50vh;

    /* adding a width so that it matches the width of image */
    width: 49.3vw;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height:30px;
    background-color: black;


}
/* chnage the text color */
nav a{
    width:10vw;
    /* adding a amrgin to the top to help center */
    margin-top: 5px;
    text-align: center;
    text-decoration: none;

    /* we are going to move the color to the hover */
    /* color:white; */
}

/* want my nav bar to have a hover effect sp we are going to make it here */
.hover
{
    color: white;

}

.hover:hover
{
    color: mediumaquamarine;
}


img{
    /* changing to percentage */
    width: 50%;
    height: 35%;
}

/* chnage the color of the ball */
/* animate this one */
/* chnage the name to match */
#ball{
    background-color:mediumturquoise;
    width: 30px;
    height:30px;
    border-radius: 50%;
    position: absolute;


    left:5vw;
    bottom: 20vh;

    animation: 4s infinite alternate moveball;
}

@keyframes moveball
{
    from
    {
        right:90%;
    }

    25%
    {
        width:50px;
        height:50px;
        
    }

    50%
    {
        width:30px;
        height:30px;
        background-color:red;
    }
    
    75%
    {
        width:50px;
        height:50px;
    }

    to
    {
        left:90%;
    }
}
