/* trying to format the overlay page, this is news that was posted about 10 hours ago*/

html
{
    height: 100%;
    margin: 0;
    padding: 0;
}

body
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: ghostwhite;
    background-size: 100%;
    background-repeat: no-repeat;


    /* set the image to the background and do not repeat */
    background-image: url('/wa/wa6/images/houses.jpg');
    background-repeat: no-repeat;
    background-size:cover;

    height: 96%;
    width: 100%;

    /* setting border for some fun color on the image */
    border-top: 2mm solid red;
    border-bottom: 2mm solid red;
}

h1
{
    position: absolute;
    top: 1mm;
    left: 5mm;
    width: 75%;
    height: 6%;
    padding: 44px;

    /* my border for debugging purposes */
    /* border: 2px dashed blue; */

    background-image: url('/wa/wa6/images/Breaking\ news.png');
    background-size: 40%;
    background-repeat: no-repeat;
}

footer.text
{
    color: black;

    font-size: 80%;
    position: absolute;

    bottom: 8mm;
    left: 10mm;

    height: 10%;
    width: 80%;
    padding: 5% 5% 0% 5%;

    background-image: url('/wa/wa6/images/Breaking\ new\ headline.png');
    background-repeat: no-repeat;
    background-size: 60%;


    /* seeting bourdeer for deugging purposes */
    /* border: 2px dashed blue; */
}
