/* classes are . ids are # */

p
{
    font-size: 5vw;
}

/* make a bsic hover animation */
.delay
{
    /* animation that goes for 2 seconds */
    animation-duration: 4s;
    /* giving it a name */
    animation-name: slidein;
    /* setting itteration count how many times will it run*/
    animation-iteration-count: infinite;
    /* giving it a ditection this is making it go back in forth*/
    animation-direction: alternate;
    
}

/* adding keyframes */
@keyframes slidein
{
    /* at 0 */
    from
    {
        /* slide it all the way to the right of the screen */
        margin-left: 100%;
        /* set it to be really large */
        width: 300%;
    }

    /* halfway through */
    50%
    {
        color: greenyellow;
        font-size: 50vw;
    }

    /* the durration the end */
    to
    {
        margin-left: 0%;
        width: 100%;
    }
}

.getbig
{
    animation: 3s infinite alternate getbig;
}

@keyframes getbig
{
    from
    {
        font-size: 1vw;
        color: red;
    }

    to
    {
        font-size: 100vw;
        color: blue;
    }
}

/* writing a transition */
#hover
{
    background-color: brown;
    font-size: 5vw;
    transition-property: font-size;
    transition-duration: 3s;
    transition-delay: .25s;
    animation: 3s infinite alternate slidein ;
}

/* sudo class of hover, when we hover over this do something */
#hover:hover
{
    font-size: 15vw;
    color: purple;
}
