body 
{
  font-family: helvetica, sans-serif;
  width: 350px;
  background-color: beige;
  font-size: large;
  position: fixed;
  left: 40%;
  
}

label 
{
  font-weight: bold;
}

div 
{
  padding-bottom: 20px;
  /* border: 1px red dashed; */
  /* border: 1px dashed blue; */
  display: flex;
  flex-direction: row;
}

input[type="text"] 
{
  padding: 5px;
  width: 150px;
}

p 
{
  background: #ffc125;
  color: #5e2612;
  padding: 10px;
  visibility: hidden;
}