body 
{
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 50px;
    background-color: #333;
    color: #fff;
}

h1, p, #enteredDigits, .digitButton, button 
{
    font-size: 24px;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

h1 
{
    font-size: 36px;
    color: #9c27b0; /* Matching the digit button color */
}

#inputContainer 
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

#enteredDigits 
{
    margin-bottom: 15px;
    color: #ccc;
}

.digitButton 
{
    width: 70px;
    height: 70px;
    margin: 12px;
    font-size: 32px;
    line-height: 70px; /* Center the text vertically */
    cursor: pointer;
    background-color: #9c27b0; /* Purple color */
    border: 2px solid #333;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
    color: #fff;
}

.digitButton.clicked 
{
    background-color: #673ab7; /* Darker purple color */
    color: #fff;
    border: 3px solid #673ab7;
}

.digitButton:hover 
{
    background-color: #7b1fa2; /* Lighter purple color on hover */
}

button 
{
    padding: 15px 30px;
    margin: 8px;
    cursor: pointer;
    background-color: #34a853;
    color: #fff;
    border: none;
    font-size: 24px;
    transition: background-color 0.3s;
}

button:hover 
{
    background-color: #2d8a3e;
}