/* make the back ground this color */
body
{
    background-color: green;
}

/* impact all 3 divs no matter the class*/
div
{
    background-color: blue;

    /* text color */
    color: white;

    font-size: 5vw;
    font-family: Arial, Helvetica, sans-serif;

    /* pushing away from border */
    padding: 5vw;

    /* psuhes other elements away */
    margin: 2.5vw;
    border: yellow 5px solid;
}


/* grid can make things look like tables */
.divWrapper
{
    /* this is stacking things in collums when using flex */
    display: grid;

    /* divide it into 3rd and this is fractional with fr */
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

/* if you are below the max then make the background red */
/* This is a media querry it tells us what kind of media we are on */
@media screen and (max-width: 900px)
{
    body
    {
        background-color: red;
    }

    div
    {
        font-size: 2.5vw;
    }

    .divWrapper
    {
        display: flex;
        flex-direction: column;
    }


}









